.caixa{
    background-color:whitesmoke;
}

.titulo{
    color: black;
    font-weight: bold;
}

.botao{
    border-color: black !important;
    background-color: black !important;
    color: white !important;
}

.postagens{
    background-color: white;
}